@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --white: #FFFFFF;
    --background: #121214;
    --gray: #AFABB6;
    --gray-light: #17171A;
    --orange-light: #E07B67;
}

*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background: var(--background);
}

header{
    height: 291px;
    background: var(--gray-light);
}

.header-container{
    width: 1920px
}

.header-container-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 73px;
}

.header-container-title h2{
    font-weight: 500px;
    color: var(--white);
    margin-top: 40px;
}

.header-container-title h2 span{
    color: var(--orange-light);
}

.header-container-search{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.header-container-search input{
   width: 100%;
   height: 64px;
   padding-left: 74px;
   background-color: #202024;
   border: 2px solid #252529;
   border-radius: 8px;
   font-size: 20px;
   font-family: 'Inter', sans-serif;
   font-weight: 500;
}

.header-container-search input:focus{
    outline: none !important;
    border: 2px solid var(--orange-light);
}

.header-container-search input::placeholder{
    color: var(--gray);
}

.search-icon{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    height: 100%;
    width: 40px;
    cursor: pointer;
}

/* --- MAIN --- */
.main-container {
    max-width: 1920px;
    margin: 0 auto;
    margin-top: 100px;
}

.main-container .card{
    background-color: var(--gray-light);
    border: 2px solid #252529;
    border-radius: 8px;